{% extends 'base.html'%}

{% block content %}
<hr>
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills flex-column bg-dark">
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ url_for('index')}}">Introduction</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ url_for('schedulermgmt')}}"> Schedulers overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"> Account managment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">User manual</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        {% block mgmContent %} {% endblock %}
    </div>
</div>
{% endblock %}
