{% extends 'base.html' %}

{% block title %} User Action Tasks Monitor {% endblock %}
{% block style%} {% endblock %}

{% block content %}

<div class="container-fluid">
    <hr>
        <b> Scheduler Name: [ {{posts['name'] }} ] : </b> 
        {% if posts['connected'] %}
            <span class="badge bg-success"> Connected </span> 
        {% else %}
        <span class="badge bg-warning"> Not Connected </span>
        {% endif %}
            Last update time : {{ posts['updateT'] }}
    <p> </p>    
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#pills-daily">Daily Actions</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#pills-random">Periodically Action</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#pills-weekly">Weekly Actions</a>
        </li>
    </ul>
    
    {% set tableTagList = [ 
        ["daily", "pills-daily", "pills-daily-tab", "container-fluid tab-pane active"],
        ["random", "pills-random", "pills-random-tab", "container-fluid tab-pane fade"],
        ["weekly", "pills-weekly", "pills-weekly-tab", "container-fluid tab-pane fade"]] 
    %}

    <!-- Tab panes -->
    <div class="tab-content">
        
        {% for tableTag in tableTagList %}
            
            {% set tableId = tableTag[0] %}
            {% set tableName = tableTag[1] %}
            {% set tableLabel = tableTag[2] %}
            {% set tableClass = tableTag[3] %}
            <div class= "{{tableClass}}" id="{{tableName}}" role="tabpanel" aria-labelledby="{{tableLabel}}">
                <button type="button" class="btn btn-primary btn-sm " onclick="downloadCSVFile()" > Export as CSV </button>                    
                <div class="table-responsive">
                    <table class="table table-bordered table-dark"> 
                        <thead>
                            <tr class="table table-primary">
                                <th>Action Id</th>
                                <th>Action name</th>
                                <th>Description</th>
                                <th>Start time</th>
                                <th>Action period(sec)</th>
                                <th>Owner</th>
                                <th>Action type</th>
                                <th>Dependency</th>
                                <th>Current state</th>
                                <th>Next run </th>
                                <th>Config </th>
                                <th>Delete </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for post in posts[tableId] %}
                            <tr class="info">
                                <td> <b>{{ post['actId'] }}</b> </td>
                                <td> {{ post['actName'] }} </td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="right"
                                        title="{{post['actDesc']}}">{{post['actDetail']}}</a>
                                </td>

                                <td> <span class="badge bg-primary">  Every 1 day start at: {{ post['startT'] }} </span> </td>
                                <td> {{ post['period'] }} </td>
                                <td> {{ post['actOwner'] }} </td>

                                <td>
                                    {% if post['actType'] == 0 %}
                                    <span class="badge bg-primary"> sequencial </span>
                                    {% else %}
                                    <span class="badge bg-warning"> parallel </span>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if post['depend'] == 0 %}
                                    <span class="badge bg-dark"> None </span>
                                    {% else %}
                                    <span class="badge bg-light"> Action: {{ post['depend'] }} </span>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if post['actState'] == "error" %}
                                    <span class="badge bg-danger"> error </span>
                                    {% elif post['actState'] == "finish" %}
                                    <span class="badge bg-success"> finished </span>
                                    {% elif post['actState'] == "pending" %}
                                    <span class="badge bg-info"> pending </span>
                                    {% elif post['actState'] == "running" %}
                                    <span class="badge bg-primary"> Running  </span> <div class="spinner-border"></div>
                                    {% else %}
                                    <span class="badge bg-secondary"> deactivated </span>
                                    {% endif %}
                                </td>

                                <td> <span class="badge bg-secondary"> {{ post['nextT'] }} </span> </td>
                                <td> 
                                    <button type="button" data-id = "{{post['id']}}" class="open-AddBookDialog btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                        Config
                                    </button>
                                </td>

                                <td>
                                    <form action="{{ url_for('changeTask', peerName = posts['name'], jobID=post['actId'], action='delete')}}" method="POST">
                                        <input type="submit" value="Delete tasks" class="btn btn-danger btn-sm"
                                            onclick=" return confirm('Are you sure you want to delete the task ? If confirm deleted, the job task will not be recovered!')">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <a href="#">
                    <button type="button" class="btn btn-success">[+] Add a new action </button>
                </a> 
            </div>

        {% endfor %}

    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title"> Task Configuration</h6>
        </div>
        <hr>
        <div class="modal-body">

            <label> Setup the task time:</label>
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
            <p> Active or de-active the task</p>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                <label class="custom-control-label" for="switch1"> Active task </label>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(document).on("click", ".open-AddBookDialog", function () {
        var cardId = $(this).data('id');
        //var servername = $(this).data('server');
        //const element = document.getElementById("gpuName");
        //element.innerHTML = servername;
        $(".modal-body #gpuIndex").val( cardId );
        $(".modal-body #bookId").val( cardId );
    });

    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(
            { trigger: 'focus'}
        );   
    });

    var csv_data =  {{posts["daily"] | tojson | safe}};
    var updateName = {{posts["name"] | tojson | safe}};
    var updateTime = {{posts["updateT"] | tojson | safe}};

    function downloadCSVFile() {
        // Create CSV file object and feed
        // our csv_data into it
        var csvContent = [updateName, updateTime, 'Idx, Time, State, Task, Detail'];

        for (var element of csv_data) {
            var line =  jsonToCSVline(element);
            csvContent.push(line)
        }
        csvTxt = csvContent.join('\n');

        CSVFile = new Blob([csvTxt], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "Tasks_Info.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

    function jsonToCSVline(jsonObj) {
        var csvLine = [];
        csvLine.push(jsonObj["actId"]);
        csvLine.push(jsonObj["startT"]);
        csvLine.push(jsonObj["actState"]);
        csvLine.push(jsonObj["actName"]);
        csvLine.push(jsonObj["actDetail"]);
        return csvLine.join(",");
    }

</script>

{% endblock %}