{% extends 'mgmbase.html' %}

{% block title %} User Action scheduler Monitor {% endblock %}

{% block style%}
<style>
    /* Make the image fully responsive 
  .carousel-inner img {
    width: 100%;
    height: 50%;
  }*/
</style>

{% endblock %}

{% block mgmContent %}

<div class="table-responsive">
    <table class="table table-bordered table-dark">
        <thead>
            <tr class="table table-primary">
                <th>Scheduler_Id</th>
                <th>Scheduler_Name</th>
                <th>IP_address</th>
                <th>UDP_Port</th>
                <th>Connection</th>
                <th>Last_Update </th>
                <th>TotalTask</th>
                <th>Finished</th>
                <th>Running</th>
                <th>Pending</th>
                <th>Error</th>
                <th>Deactived </th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="info">
                <td> <b>{{ post['id'] }}</b> </td>
                <td> {{ post['peerName'] }} [ 
                    <a href="{{ url_for('peerstate', postID=post['id'])}}" target="_blank">
                        Link to task details
                    </a> ]
                </td>
                <td> {{ post['ipAddr'] }} </td>
                <td> {{ post['updPort'] }} </td>
                <td>
                    {% if post['connected'] %}
                    <span class="badge badge-success"> online </span>
                    {% else %}
                    <span class="badge badge-warning"> offline </span>
                    {% endif %}
                </td>
                <td> {{ post['updateT'] }} </td>
                <td> {{ post['total'] }} </td>
                <td> {{ post['finish'] }} </td>
                <td> {{ post['running'] }} </td>
                <td> {{ post['pending'] }} </td>
                <td> {{ post['error'] }} </td>
                <td> {{ post['deactive'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>




{% endblock %}