{% extends 'mgmbase.html' %}

{% block title %} User Action Scheduler Monitor {% endblock %}

{% block style%} {% endblock %}

{% block mgmContent %}
<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr class="table-primary">
                <th>Scheduler_ID</th>
                <th>Scheduler_Name</th>
                <th>IP_address</th>
                <th>UDP_Port</th>
                <th>Connection</th>
                <th>Last_Update</th>
                <th>TotalTask</th>
                <th>Finished</th>
                <th>Running</th>
                <th>Pending</th>
                <th>Error</th>
                <th>Deactived</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts['schedulersInfo'] %}
            <tr class="info">
                <td> <b>{{ post['id'] }}</b> </td>
                <td> {{ post['peerName'] }} [
                    <a href="{{ url_for('peerstate', postID=post['id'])}}" target="_blank">
                        Link to tasks detail
                    </a> ]
                </td>
                <td> {{ post['ipAddr'] }} </td>
                <td> {{ post['updPort'] }} </td>
                <td>
                    {% if post['connected'] %}
                        <span class="badge badge-success"> online </span>
                    {% else %}
                        <span class="badge badge-warning"> offline </span>
                    {% endif %}
                </td>
                <td> {{ post['updateT'] }} </td>
                <td> {{ post['total'] }} </td>
                <td> {{ post['finish'] }} </td>
                <td> {{ post['running'] }} </td>
                <td> {{ post['pending'] }} </td>
                <td> {{ post['error'] }} </td>
                <td> {{ post['deactive'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}